<template>
    <div class="container">
        <form @submit.prevent="find">
        <div class="form-group">
            <label for="trackingCodeInput">Enter Tracking Code</label>
            <input type="text" class="form-control" id="trackingCodeInput"placeholder="Code" v-model="code">
            <small class="form-text text-muted">If your tracking code exists; it will show estimate date</small>
        </div>
        <button type="submit" class="btn btn-primary">Find</button>
        </form>
        <div v-if="estimation">
            <h3 class="estimation-heading">{{estimation}}</h3>
        </div>        
    </div>
</template>

<script>
    export default {
		data() {
			return {
				code: null,
                estimation: ''
			}
        },
        methods: {
            find: function (event) {
				axios.get('/api/estimated-tracking-code/' + this.code).then((response) => {
                    this.estimation = response.data.estimated_at;                    
                    if(!response.data.estimated_at) {
                        this.estimation = 'Could not find!';
                    }
				})
            }
        }
    }
</script>

<style>
    form {
        margin-top: 50px;
    }

    h3 {
        margin-top: 30px;
    }
</style>
